<div class="container-fluid text-center" if.bind="!minted"
    style="background-image: url('https://ipfs.coldbehavior.com/ipfs/QmYSFNvc1LnNBxooENA7JBJpjYZ5SmwZu54Jp9YJJbhk9k'); background-size: cover;">
    <br />
    <h1 style="margin-top: 110px; font-weight: 700;">Mint Your Cold Behaviour NFT</h1>
    <br />
    <h3 style="display: inline-block; font-weight: 700;">Connected wallet:</h3>
    <h3 style="color: #5382B0;display: inline-block; font-weight: 700;">Not connected</h3>
    <br />
    <h3 style="display: inline-block; font-weight: 700;">Price:</h3>
    <h3 style="color: #5382B0;display: inline-block; font-weight: 700;">0.3 ETH</h3>
    <br />
    <h3 style="display: inline-block; font-weight: 700;">Total Minted:</h3>
    <h3 style="color: #5382B0;display: inline-block; font-weight: 700;">6520/8888</h3>
    <br />
    <br />
    <br />
    <button class="customButton me-3">
        <h1 style="color: grey; font-size: 55px;">-</h1>
    </button>
    <h1 style="display: inline-block; font-size: 80px; font-weight: 700; vertical-align: middle;">1</h1>
    <button class="customButton ms-2">
        <h1 style="color: grey; font-size: 55px;">+</h1>
    </button>
    <br />
    <br />
    <br />
    <button class="connectButton p-4" style="margin-bottom: 100px;">
        <h1 style="size: 65; font-weight: 700;">
            CONNECT
        </h1>
    </button>
</div>
<div class="container-fluid customContainer" if.bind="minted">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 col-lg text-center">
            <img class="img-fluid"
                src="https://ipfs.coldbehavior.com/ipfs/QmXUSbfq2dKZh2oE7HTGzzQcxVnyQtXs8RDtF7StAQxAhq/SPACE_LOGO.png"
                style="border: 15px solid; border-color: white; border-radius: 20px;" />
        </div>
        <div class="col d-lg-none"></div>
        <div class="col-12 col-lg text-center">
            <h1 style="font-weight: 700; margin-top: 30px;">Welcome to the Behaviour World!</h1>
            <h5 style="margin-top: 15px; margin-bottom: 30px;">Your NFT has been successfully purchased, now you can
                share it!</h5>
            <button class="mintScreenButton" style="margin-right: 15px;">Share on Twitter</button>
            <button class="mintScreenButton">View my NFT</button>
            <br/>
            <a style="float: right; margin-right: 10px; margin-top: 15px; margin-bottom: 10px;">View on Etherscan</a>
        </div>
        <div class="col"></div>
    </div>
</div>